doctype html
html(lang="en")
    head
        title twenny.me
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600', rel='stylesheet' type='text/css')
        link(rel='stylesheet', href='/styles/reset.css')
        link(rel='stylesheet', type="text/css", href='/styles/style.css')
        //script(src="/socket.io/socket.io.js")
    body()
        .supercontainer
            block body
    script(src="/scripts/jquery/jquery-2.0.3.min.js")
    script(src="/scripts/scripts.js")
    //script(src="/scripts/analytics.js")